[run]
branch = True
source =
    ../../..

[paths]
source =
    ../../..
    */src
    */projects/*/src
    */databricks_asset_bundle/projects/*/src

[report]
omit =
    */tests/*
    */.venv/*
